<IfModule mod_rewrite.c>
	# Replace "sunlightphp" with your app's directory name.
	# Replace "127.0.0.1" with your server's ip address.

	RewriteEngine On
	
	RewriteCond %{DOCUMENT_ROOT}/sunlightphp/maintenance_mode_on -f
	RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
	RewriteRule .* ../../maintenance/down.php [last]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.*) index.php?url=$1 [qsappend,last]
</IfModule>