html {
	background: #FFF;
	color: #333;
	direction: ltr;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 0 0 25px;
	text-align: left;
}

a {
	color: #337ABC;
	text-decoration: none;
}

a:focus,
a:hover {
	text-decoration: underline;
}

h1 {
	color: #444;
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
	margin: 0 0 3px;
}

h2 {
	color: #666;
	font-size: 15px;
	font-weight: normal;
	line-height: 26px;
}

p {
	margin: 0 0 13px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 13px;
}

	caption, th {
		text-align: left;
	}

	td, th {
		padding: 0 10px 0 0;
	}

	td:last-child,
	th:last-child {
		padding: 0;
	}

:focus {
	outline: none;
}

/******************************************************************************/
/* Content */
/******************************************************************************/
#content {
	margin: 20px auto;
	max-width: 760px;
}

	#breadcrumbs {
		margin: 0 auto 13px;
	}

/******************************************************************************/
/* Flash messages */
/******************************************************************************/
.flash-message {
	background: #FFF9D7;
	border: 1px solid #E2C822;
	font-weight: bold;
	margin: 0 0 13px;
	padding: 10px;
}

.flash-error-message {
	background: #FFEBE8;
	border: 1px solid #DD3C10;
	font-weight: bold;
	margin: 0 0 13px;
	padding: 10px;
}