<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{DOCUMENT_ROOT}/sunlightphp/maintenance_mode_on -f
	RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
	RewriteRule .* ../maintenance/down.php [last]
		
	RewriteRule (.*) webroot/$1 [last]
</IfModule>